@use "variables" as *;



.contact {

    background-color: $hoverColor;
    padding: 2% 0;

    .contactContent {
        display: flex;
        justify-content: space-between;

        .linksToContact {
            width: 30%;
            display: flex;
            flex-wrap: wrap;


            p {
                width: 100%;
                align-self: center;
            }

            .linkBottom {
                display: flex;
                width: 100%;
                justify-content: space-around;


                i {
                    font-size: 4rem;
                    text-align: center;

                }
            }
        }
    }

    form {
        width: 60%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        textarea {
            resize: none;
            transition: 0.3s;
            font-family: inherit;
            width: 100%;
            outline: none;
            border: none;

            &:focus {
                outline: none;
                border: 2px solid $hoverColor;

            }
        }

        input {
            border-style: none;
            border-bottom: 2px solid $hoverColor;
            transition: 0.3s;
            font-family: inherit;
            width: 45%;


            &:focus {
                outline: none;
                border: 2px solid $hoverColor;
            }

        }

        button {
            background-color: $fontColor;
            color: $primaryColor;
            font-family: $primaryFont;
            border: none;
            outline: none;
        }
    }
}