@use "variables" as *;



.contact {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 40px;

    .leftSideContact {
        display: flex;
        flex-direction: column;

        width: 50%;

        .socialBottom {
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            .linksSocialBottom {
                display: flex;

                i {
                    font-size: 2rem;
                    text-align: center;
                }
            }
        }

    }

}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: $fontColor;
    color: $primaryColor;
    padding: 3%;
    width: 50%;


    textarea {
        resize: none;
        transition: 0.3s;
        font-family: inherit;
        width: 100%;
        outline: none;
        border: none;
        background-color: inherit;
        border-bottom: 2px solid $primaryColor;
        margin-bottom: 2%;
        color: white;
        font-weight: 300;

        &::placeholder {
            color: $primaryColor;
            opacity: 1;
            font-weight: 300;
        }


    }

    input {
        border-style: none;
        border-bottom: 2px solid $primaryColor;
        font-family: inherit;
        width: 100%;
        background-color: inherit;
        font-weight: 300;
        color: $primaryColor;

        &::placeholder {
            color: $primaryColor;
            opacity: 1;
            font-weight: 300;
        }

    }

    button {
        background-color: $primaryColor;
        color: $fontColor;
        font-weight: 300;
        font-family: $primaryFont;
        padding: 2%;
        border: none;
        outline: none;

    }
}