@use "variables" as *;

header {
    background-color: $primaryColor;
    color: $fontColor;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;


    .mainContent {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-content: center;
        padding: 10% 0;
    }

    .headerText {
        align-self: center;
    }

    .imgBoxProfile {
        width: 30%;

        img {
            border-radius: 50%;
            border: 3px solid $fontColor;
        }
    }
}