@use "variables" as *;

.projectsSection {

    margin-top: 40px;
    margin-bottom: 40px;

    .projectEven {
        display: flex;
        justify-content: space-evenly;
        align-items: end;
        padding: 5% 0;

        @media(max-width:$mobileWidth) {
            position: relative;
        }



        .projectTextBox {
            align-self: center;
            width: 50%;

            @media(max-width:$mobileWidth) {
                width: 80%;
            }

            p {
                margin: 30px 0;
            }
        }

        .linksToProjects {
            margin: 10px 0;

            a {
                width: auto;
            }

            .firstLink {
                margin-right: 20px;
            }
        }
    }

    .imgProject {
        width: 40%;

        @media(max-width:$mobileWidth) {
            position: absolute;
            right: 10px;
        }

        img {
            border-radius: 5%;
            border: 2px solid $hoverColor;

        }
    }

    .projectOdd {
        display: flex;
        justify-content: space-evenly;
        padding: 2% 0;
        align-items: end;

        @media(max-width:$mobileWidth) {
            position: relative;
        }

        .projectTextBox {
            align-self: center;
            width: 50%;

            @media(max-width:$mobileWidth) {
                width: 80%;
            }

            p {
                margin: 30px 0;
            }

            .imgProject {
                width: 40%;

                @media(max-width:$mobileWidth) {
                    position: absolute;
                    right: 10px;
                }

                img {
                    border-radius: 5%;
                    border: 2px solid $hoverColor;

                }
            }

            .linksToProjects {
                margin: 10px 0;

                .firstLink {
                    margin-right: 20px;
                    border-right: 3px solid $hoverColor;
                    padding-right: 20px;
                }
            }
        }
    }
}