@use "variables" as *;

.projectsSection {
    .project {
        display: flex;
        justify-content: space-evenly;


        .projectTextBox {

            width: 50%;
        }

        .linksToProjects {
            margin: 10px 0;

            .firstLink {
                margin-right: 20px;
                border-right: 3px solid $hoverColor;
                padding-right: 20px;
            }
        }
    }

    .imgProject {
        width: 40%;

        img {
            border-radius: 5%;
            border: 2px solid $hoverColor;

        }
    }

}