@use "variables" as *;

.skills {
    display: flex;
    flex-direction: column;

    .iconList {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        li {
            width: 25%;
            font-size: 4rem;
            text-align: center;
            margin: 20px 0;
            padding: 30px;
            display: flex;
            justify-content: center;
            align-items: center;

        }
    }
}