@use "variables" as *;

.slideOutNav {

    width: 100%;
    max-width: 506px;
    height: 100vh;
    z-index: 200;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba($color: $primaryColor, $alpha: 0.9);
    backdrop-filter: blur(4px);
    font-weight: bold;
    color: $fontColor;
    font-size: 1.4rem;
    padding: 35px 50px;

    .menuButton {
        background-color: $primaryColor;
        border: none;
        color: $fontColor;
    }

    .mainMenu {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        font-weight: 300;


        li {
            padding: 20px;
            transition: 0.3s;


            a {
                line-height: 2.5rem;

                &:hover {
                    transform: scale(1.1);
                }

                &:focus {
                    transform: scale(1.1);
                }
            }
        }

    }

}

.slideOutHidden {
    transition: 0.3s;
    right: -512px;
    position: fixed;
    top: 0;
}

.slideOutReveal {
    transition: 0.3s;
    right: 0;
    position: fixed;
    top: 0;
}

.openButton {
    visibility: hidden;
    position: fixed;
    top: 3px;
    right: 5%;

    @media (max-width:$tabletRegular) {
        visibility: visible;
    }
}

.closeButton {
    position: relative;
    left: 200px;
}