@use "variables" as *;

.socialNav {

    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width:$mobileWidth) {
        visibility: hidden;
    }

    .iconsNav {
        display: flex;
        justify-content: space-evenly;


        a {
            width: 100%;
            height: auto;


            i {
                width: 100%;
                font-size: 2rem;
                text-align: center;
                padding: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        p {
            align-self: center;
        }
    }


}