@use "variables" as *;

.topNav {
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    right: 5%;
    background-color: rgba($color: $primaryColor, $alpha: 0.9);
    box-shadow: 0 2px rgba($color: $fontColor, $alpha: 1);
    backdrop-filter: blur(2px);
    font-weight: 300;

    ul {
        display: flex;
        justify-content: flex-end;

        li {
            margin: 0 5px;
        }
    }
}