@use "variables" as *;

// OPEN SANS

@font-face {
    font-family: "Rubik";
    src: url(../fonts/Rubik-Regular.ttf);
    font-style: normal;
}

@font-face {
    font-family: "Rubik";
    src: url(../fonts/Rubik-Italic.ttf);
    font-style: italic;
}

@font-face {
    font-family: "Rubik";
    src: url(../fonts/Rubik-Bold.ttf);
    font-weight: bold;
}



h1 {
    font-family: $primaryFont;
    font-size: 2rem;
}