@use "variables" as *;

// OPEN RUBIK

@font-face {
    font-family: "Rubik";
    src: url(../fonts/Rubik-Regular.ttf);
    font-style: normal;
}

@font-face {
    font-family: "Rubik";
    src: url(../fonts/Rubik-Italic.ttf);
    font-style: italic;
}

@font-face {
    font-family: "Rubik";
    src: url(../fonts/Rubik-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: "Rubik";
    src: url(../fonts/Rubik-light.ttf);
    font-weight: 300;
}





h1 {
    font-weight: bold;
    font-size: 2rem;
}

h2 {
    font-weight: normal;
}

p {
    font-weight: 300;
}