@-webkit-keyframes addBoxShadow {
  0% {
    -webkit-box-shadow: 0 1px 2px rgba(33, 33, 33, 0);
            box-shadow: 0 1px 2px rgba(33, 33, 33, 0);
  }
  100% {
    -webkit-box-shadow: 0 1px 2px #212121;
            box-shadow: 0 1px 2px #212121;
  }
}
@keyframes addBoxShadow {
  0% {
    -webkit-box-shadow: 0 1px 2px rgba(33, 33, 33, 0);
            box-shadow: 0 1px 2px rgba(33, 33, 33, 0);
  }
  100% {
    -webkit-box-shadow: 0 1px 2px #212121;
            box-shadow: 0 1px 2px #212121;
  }
}
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: "Rubik";
  src: url(../fonts/Rubik-Regular.ttf);
  font-style: normal;
}
@font-face {
  font-family: "Rubik";
  src: url(../fonts/Rubik-Italic.ttf);
  font-style: italic;
}
@font-face {
  font-family: "Rubik";
  src: url(../fonts/Rubik-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: "Rubik";
  src: url(../fonts/Rubik-light.ttf);
  font-weight: 300;
}
h1 {
  font-weight: bold;
  font-size: 2rem;
}

h2 {
  font-weight: normal;
}

p {
  font-weight: 300;
}

.wrapper {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}

html {
  font-size: 125%;
}

body {
  background-color: #f8f8f8;
  color: #212121;
  font-family: "Rubik";
}

ul,
li,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

section {
  margin: 20px 0;
}

a {
  color: #212121;
  text-decoration: none;
  -webkit-transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  padding: 3px;
}
a:hover {
  -webkit-animation: 0.5s ease-in addBoxShadow;
          animation: 0.5s ease-in addBoxShadow;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

i {
  width: 100%;
  height: auto;
  display: block;
}

button {
  color: #212121;
  text-decoration: none;
  -webkit-transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  padding: 3px;
}
button:hover {
  -webkit-animation: 0.5s ease-in addBoxShadow;
          animation: 0.5s ease-in addBoxShadow;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

header {
  background-color: #f8f8f8;
  color: #212121;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
  height: max(100vh, 30rem);
}
header .mainContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 15% 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 512px) {
  header .mainContent {
    position: relative;
    top: 50%;
  }
}
header .headerText {
  -ms-flex-item-align: center;
      align-self: center;
  padding: 10px;
  -webkit-animation: 1s ease-in addBoxShadow;
          animation: 1s ease-in addBoxShadow;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background-color: #f8f8f8;
}
@media (max-width: 512px) {
  header .headerText {
    position: absolute;
    z-index: 50;
  }
}
header .imgBoxProfile {
  width: 30%;
}
@media (max-width: 512px) {
  header .imgBoxProfile {
    position: absolute;
    top: -50%;
    left: 71%;
    width: 25%;
  }
}
header .imgBoxProfile img {
  border-radius: 50%;
  border: 3px solid #212121;
  z-index: 25;
}

.slideOutNav {
  width: 100%;
  max-width: 506px;
  height: 100vh;
  z-index: 200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(248, 248, 248, 0.9);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  font-weight: bold;
  color: #212121;
  font-size: 1.4rem;
  padding: 35px 50px;
}
.slideOutNav .menuButton {
  background-color: #f8f8f8;
  border: none;
  color: #212121;
}
.slideOutNav .mainMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  font-weight: 300;
}
.slideOutNav .mainMenu li {
  padding: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.slideOutNav .mainMenu li a {
  line-height: 2.5rem;
}
.slideOutNav .mainMenu li a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.slideOutNav .mainMenu li a:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.slideOutHidden {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  right: -512px;
  position: fixed;
  top: 0;
}

.slideOutReveal {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  right: 0;
  position: fixed;
  top: 0;
}

.openButton {
  visibility: hidden;
  position: fixed;
  top: 3px;
  right: 5%;
  padding: 0;
  font-size: 1.2rem;
}
@media (max-width: 810px) {
  .openButton {
    visibility: visible;
  }
}

.closeButton {
  position: relative;
  left: 150px;
}

.topNav {
  padding: 10px 0;
  position: fixed;
  width: 100%;
  top: 0;
  right: 5%;
  background-color: rgba(248, 248, 248, 0.9);
  -webkit-box-shadow: 0 2px #212121;
          box-shadow: 0 2px #212121;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  font-weight: 300;
  z-index: 100;
}
@media (max-width: 810px) {
  .topNav {
    right: 0;
  }
}
.topNav .menuButton {
  -ms-flex-item-align: end;
      align-self: flex-end;
  background-color: transparent;
  border: none;
  color: #212121;
  font-size: 1.2rem;
  padding: 0 5px;
}
.topNav .desktopNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media (max-width: 810px) {
  .topNav .desktopNav {
    visibility: hidden;
  }
}
.topNav .desktopNav li {
  margin: 0 5px;
}

.socialNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 512px) {
  .socialNav {
    visibility: hidden;
  }
}
.socialNav .iconsNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.socialNav .iconsNav a {
  width: 100%;
  height: auto;
}
.socialNav .iconsNav a i {
  width: 100%;
  font-size: 2rem;
  text-align: center;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.socialNav .iconsNav p {
  -ms-flex-item-align: center;
      align-self: center;
}

.aboutMe {
  padding: 2% 0;
}
.aboutMe h2 {
  margin: 20px 0;
}
.aboutMe .aboutMeContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.aboutMe .aboutMeContent p {
  width: 60%;
  font-size: 1rem;
}
.aboutMe .aboutMeContent .aboutMeImage {
  width: 28%;
}
.aboutMe .aboutMeContent .aboutMeImage img {
  width: 100%;
  display: block;
  height: auto;
  border-radius: 50%;
  border: 3px solid #212121;
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.skills .iconList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.skills .iconList li {
  width: 25%;
  font-size: 4rem;
  text-align: center;
  margin: 20px 0;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 512px) {
  .skills .iconList li {
    font-size: 2.5rem;
    padding: 20px;
  }
}

.projectsSection {
  margin-top: 40px;
  margin-bottom: 40px;
}
.projectsSection .projectEven {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  padding: 5% 0;
}
@media (max-width: 512px) {
  .projectsSection .projectEven {
    position: relative;
  }
}
.projectsSection .projectEven .projectTextBox {
  -ms-flex-item-align: center;
      align-self: center;
  width: 50%;
}
@media (max-width: 512px) {
  .projectsSection .projectEven .projectTextBox {
    width: 80%;
  }
}
.projectsSection .projectEven .projectTextBox p {
  margin: 30px 0;
}
.projectsSection .projectEven .linksToProjects {
  margin: 10px 0;
}
.projectsSection .projectEven .linksToProjects a {
  width: auto;
}
.projectsSection .projectEven .linksToProjects .firstLink {
  margin-right: 20px;
}
.projectsSection .imgProject {
  width: 40%;
}
@media (max-width: 512px) {
  .projectsSection .imgProject {
    position: absolute;
    right: 10px;
  }
}
.projectsSection .imgProject img {
  border-radius: 5%;
  border: 2px solid #c5c5c5;
}
.projectsSection .projectOdd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 2% 0;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
@media (max-width: 512px) {
  .projectsSection .projectOdd {
    position: relative;
  }
}
.projectsSection .projectOdd .projectTextBox {
  -ms-flex-item-align: center;
      align-self: center;
  width: 50%;
}
@media (max-width: 512px) {
  .projectsSection .projectOdd .projectTextBox {
    width: 80%;
  }
}
.projectsSection .projectOdd .projectTextBox p {
  margin: 30px 0;
}
.projectsSection .projectOdd .projectTextBox .imgProject {
  width: 40%;
}
@media (max-width: 512px) {
  .projectsSection .projectOdd .projectTextBox .imgProject {
    position: absolute;
    right: 10px;
  }
}
.projectsSection .projectOdd .projectTextBox .imgProject img {
  border-radius: 5%;
  border: 2px solid #c5c5c5;
}
.projectsSection .projectOdd .projectTextBox .linksToProjects {
  margin: 10px 0;
}
.projectsSection .projectOdd .projectTextBox .linksToProjects .firstLink {
  margin-right: 20px;
  border-right: 3px solid #c5c5c5;
  padding-right: 20px;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}
.contact h2 {
  padding: 20px 0;
}
.contact .leftSideContact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}
.contact .leftSideContact .socialBottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.contact .leftSideContact .socialBottom .linksSocialBottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contact .leftSideContact .socialBottom .linksSocialBottom i {
  font-size: 2rem;
  text-align: center;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #212121;
  color: #f8f8f8;
  padding: 3%;
  width: 50%;
}
form textarea {
  resize: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-family: inherit;
  width: 100%;
  outline: none;
  border: none;
  background-color: inherit;
  border-bottom: 2px solid #f8f8f8;
  margin-bottom: 2%;
  color: white;
  font-weight: 300;
}
form textarea::-webkit-input-placeholder {
  color: #f8f8f8;
  opacity: 1;
  font-weight: 300;
}
form textarea::-moz-placeholder {
  color: #f8f8f8;
  opacity: 1;
  font-weight: 300;
}
form textarea:-ms-input-placeholder {
  color: #f8f8f8;
  opacity: 1;
  font-weight: 300;
}
form textarea::-ms-input-placeholder {
  color: #f8f8f8;
  opacity: 1;
  font-weight: 300;
}
form textarea::placeholder {
  color: #f8f8f8;
  opacity: 1;
  font-weight: 300;
}
form input {
  border-style: none;
  border-bottom: 2px solid #f8f8f8;
  font-family: inherit;
  width: 100%;
  background-color: inherit;
  font-weight: 300;
  color: #f8f8f8;
}
form input::-webkit-input-placeholder {
  color: #f8f8f8;
  opacity: 1;
  font-weight: 300;
}
form input::-moz-placeholder {
  color: #f8f8f8;
  opacity: 1;
  font-weight: 300;
}
form input:-ms-input-placeholder {
  color: #f8f8f8;
  opacity: 1;
  font-weight: 300;
}
form input::-ms-input-placeholder {
  color: #f8f8f8;
  opacity: 1;
  font-weight: 300;
}
form input::placeholder {
  color: #f8f8f8;
  opacity: 1;
  font-weight: 300;
}
form button {
  background-color: #f8f8f8;
  color: #212121;
  font-weight: 300;
  font-family: "Rubik";
  padding: 2%;
  border: none;
  outline: none;
}

footer {
  background-color: #212121;
  text-align: center;
  padding: 1%;
}
footer p {
  color: #f8f8f8;
}